<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="show-dashboard">
  <template>
    <script>
      document.getElementById("home_banner_area").style.display = "none";
      document.getElementById("login_area").style.display = "none";
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <style>
      .last_access_container {
        content: "";
        /* width: 360px; */
        height: 70px;
        background: rgba(167, 203, 0, .80);
        position: absolute;
        right: 0px;
        z-index: 2;
        padding: 10px;
        color: white;
        text-align: right;
        font-weight: bold;
      }
    </style>

    <link rel="import" href="../redux/session-mixin.html">

    <br /><br /><br /><br />

    <iron-ajax auto id="getUserDashboard" url="http://localhost:3000/techu-bpjjsa/v1/users/{{id_user}}" handle-as="json"
      on-response="showData" with-credentials="true" on-error="showError"></iron-ajax>

    <!--================Last Access Area =================-->
    <div class="last_access_container" hidden$="{{!existLAD}}">
      Último acceso:<br />
      [[last_acces_date]]
    </div>
    <!--================End Last Access Area =================-->

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content">
            <h2>Tus cuentas</h2><br /><br />
            Hola [[display_name]], a continuación te mostramos el detalle de tus cuentas:
            <br />
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!-- Start Align Area -->
    <div class="whole-wrap">
      <div class="container">
        <div class="section-top-border">
          <div class="progress-table-wrap">
            <div class="progress-table">
              <div class="table-head">
                <div class="serial">#</div>
                <div class="country">Countries</div>
                <div class="visit">Visits</div>
                <div class="percentage">Percentages</div>
              </div>
              <div class="table-row">
                <div class="serial">01</div>
                <div class="country"> <img src="/img/elements/f1.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-1" role="progressbar" style="width: 80%" aria-valuenow="80"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">02</div>
                <div class="country"> <img src="/img/elements/f2.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-2" role="progressbar" style="width: 30%" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">03</div>
                <div class="country"> <img src="/img/elements/f3.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-3" role="progressbar" style="width: 55%" aria-valuenow="55"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">04</div>
                <div class="country"> <img src="/img/elements/f4.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-4" role="progressbar" style="width: 60%" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">05</div>
                <div class="country"> <img src="/img/elements/f5.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-5" role="progressbar" style="width: 40%" aria-valuenow="40"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">06</div>
                <div class="country"> <img src="/img/elements/f6.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-6" role="progressbar" style="width: 70%" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">07</div>
                <div class="country"> <img src="/img/elements/f7.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-7" role="progressbar" style="width: 30%" aria-valuenow="30"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="table-row">
                <div class="serial">08</div>
                <div class="country"> <img src="/img/elements/f8.jpg" alt="flag">Canada</div>
                <div class="visit">645032</div>
                <div class="percentage">
                  <div class="progress">
                    <div class="progress-bar color-8" role="progressbar" style="width: 60%" aria-valuenow="60"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class Dashboard extends SessionMixin(Polymer.Element) {
      static get is() { return 'show-dashboard'; } // Nombre de la etiqueta HTML cuando la implementemos
      static get properties() {
        return {
          id_user: {
            type: Number
          },
          display_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          last_acces_date: {
            type: String
          },
          existLAD: {
            type: Boolean,
            value: false
          }
        };
      }

      showData(data, request) {
        var response = data.detail.response;
        console.log("Respuesta: ");
        console.log(response); //esto llega del backend

        this.id_user = response.id_user;
        this.display_name = response.display_name;
        this.last_name = response.last_name;
        this.email = response.email;

        if (response.last_acces_date != null) {
          this.existLAD = true;
          var options = { hour12: 'false', hour: '2-digit', minute: '2-digit' };
          this.last_acces_date = (new Date(response.last_acces_date)).toLocaleDateString("es-ES", options);
        }

        window.localStorage.setItem('user', JSON.stringify(response));

        // Enviamos evento de login
        this.dispatch('updateSession', true);
      }

      showError(error) {
        console.log("Error al procesar la petición");
        console.log(error.detail.error.message);
        console.log(error.detail.request.response);

        var errors = "";
        var eList = error.detail.request.response;

        for (var i in eList) {
          errors = eList[i].msg + "\n";
        }

        if (errors.length > 0) {
          alert(errors)
          top.location = "/";
        }
      }
    }

    window.customElements.define(Dashboard.is, Dashboard);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>