<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="create-account">
  <template>
    <script>
      document.getElementById("home_banner_area").style.display = "none";
      //document.getElementById("mission_area").style.display = "none";
      document.getElementById("login_area").style.display = "none";
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/vendors/linericon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <br /><br /><br /><br />
    <!-- Start Align Area -->
    <div class="whole-wrap">
      <div class="container">
        <!-- Start Errores Area -->
        <div class="section-top-border" style="padding-top: 20; padding-bottom: 0;" id="errores" hidden$="{{!errors}}">
          <h3 class="mb-30 title_color">Errores</h3>
          <div class="row">
            <div class="col-lg-12">
              <blockquote class="generic-blockquote">
                <ul>
                  <template is="dom-repeat" items="{{errorsList}}">
                    <li>{{item.msg}}</li>
                  </template>
                </ul>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- End Errores Area -->
        <div class="section-top-border">
          <div class="row">
            <div class="col-lg-8 col-md-8">
              <h3 class="mb-30 title_color">Registro</h3>
              <div class="mt-10">
                <input type="text" name="display_name" id="display_name" placeholder="Nombre *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Nombre *'" required class="single-input" style$="{{errorDisplayName}}"
                  value="{{display_name::input}}">
              </div>
              <div class="mt-10">
                <input type="text" name="last_name" id="last_name" placeholder="Apellidos" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Apellidos'" class="single-input" value="{{last_name::input}}">
              </div>
              <div class="mt-10">
                <input type="email" name="email" id="email" placeholder="Correo electrónico *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Correo electrónico *'" required class="single-input" style$="{{errorEmail}}"
                  value="{{email::input}}">
              </div>
              <div class="mt-10">
                <input type="password" name="password" id="password" placeholder="Contraseña *" onfocus="this.placeholder = ''"
                  onblur="this.placeholder = 'Contraseña *'" required class="single-input" style$="{{errorPassword}}"
                  value="{{password::input}}">
              </div>
              <!--
                <div class="mt-10">
                  <input type="file" class="inputfile inputfile-6" name="picture" id="file-7" placeholder="Foto" style="display: none" 
                    value="{{picture::input}}" accept="image/*" />
                  <label for="file-7" style="width: 100%;" ><span>Foto</span> <strong><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> Examinar&hellip;</strong></label>
                  <br/>
                </div>
                -->
              <div class="input-group-icon mt-10" style="text-align: right">
                <button on-click="crearCuenta" class="genric-btn info circle arrow">Enviar<span class="lnr lnr-arrow-right"></span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Align Area -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stellar.js"></script>
    <script src="/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="/vendors/counter-up/jquery.counterup.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="/vendors/swiper/js/swiper.min.js"></script>
    <script src="/js/theme.js"></script>

    <link rel="import" href="../redux/session-mixin.html">

    <iron-ajax id="doCreateAccount" url="http://localhost:3000/techu-bpjjsa/v1/users" handle-as="json" content-type="application/json"
      method="post" on-response="manageAjaxResponse" on-error="showError" withcredentials="true">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateAccount extends SessionMixin(Polymer.Element) {
      static get is() { return 'create-account'; } // Nombre de la etiqueta HTML cuando la implementemos
      static get properties() {
        return {
          id_user: {
            type: Number
          },
          display_name: {
            type: String
          },
          errorDisplayName: {
            type: String,
            value: ""
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          },
          errorEmail: {
            type: String,
            value: ""
          },
          password: {
            type: String
          },
          errorPassword: {
            type: String,
            value: ""
          },
          picture: {
            type: ArrayBuffer
          },
          errors: {
            type: Boolean,
            value: false
          },
          errorsList: {
            type: Array
          }
        };
      }

      crearCuenta() {
        console.log("POST createAccount");

        console.log(this.picture);

        var createAccountData = {
          "display_name": this.display_name,
          "last_name": this.last_name,
          "email": this.email,
          "password": this.password
        };

        // Invocamos a la función Iron Ajax
        // this.$ referenciamos a un elemnto del DOM local de polymer
        this.$.doCreateAccount.body = JSON.stringify(createAccountData);

        // enviamos la peticion
        this.$.doCreateAccount.generateRequest();

        console.log("petición enviada CreateAccount");
      }

      resetFieldErrors() {
        this.errorEmail = "";
        this.errorPassword = "";
        this.errorDisplayName = "";
      }

      showError(error) {
        console.log("Error al procesar la petición");
        this.errors = true;

        console.log("errors: " + this.errors);
        console.log(error.detail.error.message);
        console.log(error.detail.request.response);

        var eList = error.detail.request.response;
        this.errorsList = eList;

        // reseteamos los errores anteriores
        this.resetFieldErrors();

        for (var i in eList) {
          switch (eList[i].param) {
            case "display_name":
              this.errorDisplayName = "background: #dc354529";
              break;
            case "email":
              this.errorEmail = "background: #dc354529";
              break;
            case "password":
              this.errorPassword = "background: #dc354529";
              break;
          }
        }

        //console.log(error);
        //console.log(error.detail);
        //console.log(error.detail.error);
        //console.log(error.detail.request);
        //console.log(error.detail.response);
      }

      manageAjaxResponse(data) {
        this.resetFieldErrors();

        this.errors = false;
        this.errorsList = null;

        console.log("Respuesta: ");
        console.log(data.detail.response); //esto llega del backend
        alert("Usuario creado con éxito");
        top.location = "/";
      }
    }

    window.customElements.define(CreateAccount.is, CreateAccount);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
  </script>
</dom-module>