<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-module">
    <template>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <style>
            .errores{
                font-size: smaller  ;
            }
        </style>

        <div class="login_container col-lg-3">
            <div class="blog_right_sidebar" style="width: 300px;">
                <div hidden$="{{isLogged}}">
                    <h4>Login</h4>
                    <aside class="single_sidebar_widget search_widget" style="padding-top: 5px;">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Correo electrónico" value="{{email::input}}">
                        </div>
                        <div class="input-group" style="padding-top: 5px;">
                            <input type="password" class="form-control" placeholder="Contraseña" value="{{password::input}}">
                        </div>
                        <div class="input-group-icon mt-10" style="text-align: right">
                            <button on-click="autenticar" class="genric-btn default-border circle">Enviar&nbsp;&nbsp;<span
                                    class="lnr lnr-arrow-right"></span></button>
                        </div>
                        <div class="br"></div>
                        <div id="errores" hidden$="{{!loginErrors}}" class="errores">
                            <template is="dom-repeat" items="{{loginErrorsList}}">
                                <li>{{item.msg}}</li>
                            </template>
                        </div>
                </div>
                <div hidden$="{{!isLogged}}">
                    <h4>Bienvenid@ [[display_name]]</h4><br />
                    Accede al área privada donde podrás ver el detalle de tus cuentas

                    <div class="input-group-icon mt-10" style="text-align: right">
                        <a href="/dashboard/{{id_user}}" class="genric-btn info circle arrow">Área personal<span class="lnr lnr-arrow-right"></span></a>
                    </div>
                </div>
                </aside>
            </div>
        </div>

        <iron-ajax id="doLogin" url="http://localhost:3000/techu-bpjjsa/v1/login" handle-as="json" content-type="application/json"
            method="post" on-response="manageAjaxResponse" on-error="showError" with-credentials="true">

    </template>
    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginModule extends Polymer.Element {

            static getUserParam(param) {
                console.log("login - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');

                if (user) {
                    if (param == "isLogged") {
                        return true;
                    } else {
                        var jsonUser = JSON.parse(user);
                        return jsonUser[param]
                    }
                }

                return null;
            }

            static get is() { return 'login-module'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                return {
                    id_user: {
                        type: Number,
                        value: this.getUserParam("id_user")
                    },
                    display_name: {
                        type: String,
                        value: this.getUserParam("display_name")
                    },
                    email: {
                        type: String
                    },
                    password: {
                        type: String
                    },
                    loginErrors: {
                        type: Boolean,
                        value: false
                    },
                    loginErrorsList: {
                        type: Array
                    },
                    isLogged: {
                        type: Boolean,
                        value: this.getUserParam("isLogged")
                    }
                };
            }

            autenticar() {
                console.log("POST autenticar");

                var doLoginData = {
                    "email": this.email,
                    "password": this.password
                };

                // Invocamos a la función Iron Ajax
                // this.$ referenciamos a un elemnto del DOM local de polymer
                this.$.doLogin.body = JSON.stringify(doLoginData);

                // enviamos la peticion
                this.$.doLogin.generateRequest();

                console.log("petición enviada autenticar");
            }

            showError(error) {
                console.log("Error al procesar la petición");
                this.loginErrors = true;

                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;
                this.loginErrorsList = eList;

                //console.log(error);
                //console.log(error.detail);
                //console.log(error.detail.error);
                //console.log(error.detail.request);
                //console.log(error.detail.response);
            }

            manageAjaxResponse(data, request) {
                this.loginErrors = false;
                this.loginErrorsList = null;

                var headers = request.xhr.getAllResponseHeaders();
                console.log(headers);

                var headers2 = request.xhr.getResponseHeader('Set-Cookie');
                console.log(headers2);

                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                top.location = "/dashboard/" + response.id_user;
            }
        }

        window.customElements.define(LoginModule.is, LoginModule);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>