<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-module">
    <template>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/vendors/linericon/style.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link rel="stylesheet" href="/vendors/owl-carousel/owl.carousel.min.css">
        <link rel="stylesheet" href="/vendors/lightbox/simpleLightbox.css">
        <link rel="stylesheet" href="/vendors/nice-select/css/nice-select.css">
        <link rel="stylesheet" href="/vendors/animate-css/animate.css">
        <!-- main css -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/responsive.css">

        <link rel="stylesheet" type="text/css" href="/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/css/component.css" />

        <link rel="import" href="../redux/session-mixin.html">

        <template is="dom-if" if="{{isLogged}}">
            <button on-click="desconectar" class="genric-btn danger-border circle arrow">Exit&nbsp;&nbsp;<span class="lnr lnr-exit"></span></button>
        </template>

        <template is="dom-if" if="{{!isLogged}}">
            <template is="dom-if" if="{{showLogout}}">
                    <button on-click="desconectar" class="genric-btn danger-border circle arrow">Exit&nbsp;&nbsp;<span class="lnr lnr-exit"></span></button>
            </template>
        </template>

        <iron-ajax id="doLogout" url="http://localhost:3000/techu-bpjjsa/v1/logout" handle-as="json" content-type="application/json"
            method="post" on-response="manageAjaxResponse" on-error="showError" with-credentials="true">

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class LogoutModule extends SessionMixin(Polymer.Element) {
            static getUserParam(param) {
                console.log("logout - getUserParam(" + param + ")");
                var user = window.localStorage.getItem('user');

                console.log("this.isLogged: " + this.isLogged);

                if (user) {
                    if (param == "showLogout") {
                        return true;
                    }
                }

                return this.isLogged;
            }

            static get is() { return 'logout-module'; } // Nombre de la etiqueta HTML cuando la implementemos
            static get properties() {
                return {
                    showLogout: {
                        type: Boolean,
                        value: this.getUserParam("showLogout"),
                    }
                };
            }

            desconectar() {
                console.log("POST desconectar");

                window.localStorage.clear();

                this.$.doLogout.body = "";
                this.$.doLogout.generateRequest();

                console.log("petición enviada desconectar");
            }

            showError(error) {
                console.log("Error al procesar la petición");

                console.log(error.detail.error.message);
                console.log(error.detail.request.response);

                var eList = error.detail.request.response;;
            }

            manageAjaxResponse(data, request) {
                var headers = request.xhr.getAllResponseHeaders();
                console.log(headers);

                var headers2 = request.xhr.getResponseHeader('Set-Cookie');
                console.log(headers2);

                var response = data.detail.response;
                console.log("Respuesta: ");
                console.log(response); //esto llega del backend

                // Enviamos evento de logout
                this.dispatch('updateSession', false);

                top.location = "/";
            }
        }

        window.customElements.define(LogoutModule.is, LogoutModule);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
    </script>
</dom-module>