<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="receptor-evento">
<template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h5>Soy el receptor</h5>
  <h6>Este curso es [[course]] </h6>
  <h6>y estamos en el año [[year]]</h6>
  <!--
  :: Para escuchar el evento asociado a la propiedad
  -->
  <input type="text" value="{{course::input}}"></input>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class ReceptorEvento extends Polymer.Element {
    static get is() { return 'receptor-evento'; } // Nombre de la etiqueta HTML cuando la implementemos
    static get properties() {
      return {
        course: {
          type: String,
          observer: '_courseChanged' // funcion manejadora
        },
        year: {
          type: String
        }
      };
    }

    // como los trigger de SQL
    _courseChanged(newValue, oldValue){
      console.log("Course property value has changed");
      console.log("Old value was: " + oldValue);
      console.log("New value is: " + newValue);
    }
  }

  window.customElements.define(ReceptorEvento.is, ReceptorEvento);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
</script>
</dom-module>
