<link rel="import" href="../../bower_components/polymer-redux/polymer-redux.html">
<script src="../../node_modules/redux/dist/redux.js"></script>
<script>
	const initial = {
		message: 'Hello from PolymerRedux',
		foo: 'I am a Foo',
        bar: 'I just got Bar\'d',
        isLogged: false
	};
	const reducer = (state = initial, action) => {
        console.log("reducer");
        console.log("state: " + state);
        console.log("action.type: " + action.type);

		switch (action.type) {
			case 'UPDATE_MESSAGE':
				return Object.assign({}, state, {
					message: action.message
                });
            case 'UPDATE_SESSION':
				return Object.assign({}, state, {
					isLogged: action.isLogged
				});
			default:
				return state;
		}
	};
	const store = Redux.createStore(reducer);
	ReduxMixin = PolymerRedux(store);
</script>