<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
<template>
  <style>
    :host {
      display: block;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h2>Aquí no hay nada que ver</h2>
</template>

<script>
  /**
   * @customElement
   * @polymer
   */
  class PageNotFound extends Polymer.Element {
    static get is() { return 'page-not-found'; } // Nombre de la etiqueta HTML cuando la implementemos
    static get properties() {
      return {

      };
    }
  }

  window.customElements.define(PageNotFound.is, PageNotFound);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
</script>
</dom-module>