<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="accounts-usuario">

<template>
   <!-- Para iron-ajax:  auto dice que va a hacer la peticion en cuanto se carga
        Con auto, la petición se lanza automaticamente
  -->

  <iron-ajax auto
    id="getUserAccounts"
    url="http://localhost:3000/apitechu/v1/accounts/{{user_id}}"
    handle-as="json"
    on-response="showData"></iron-ajax>

    <template is="dom-repeat" items="{{accounts}}" >
      <ul>
          <li style="display: none" >Id: {{item.id}}</li>
          <li>IBAN: {{item.iban}}</li>
          <!-- <li>User_ID: {{item.user_id}}</li> -->
          <li>Balance: {{item.balance}}</li>
      </ul>
    </template>

</template>

<script>
    /**
     * @customElement
     * @polymer
     */
    class AccountsUsuario extends Polymer.Element {
      static get is() { return 'accounts-usuario'; }
      static get properties() {
        return {
          accounts: {
            type: Array
          }
        };
      }
      //Definimos otra función:
      showData(data){
        console.log("showData");
        console.log(data.detail.response); //esto llega del backend

        this.accounts = data.detail.response;

        console.log(this.accounts);
      }
    }
    window.customElements.define(AccountsUsuario.is, AccountsUsuario);  //esto es para gestionar customElements: cuando encuentre algún elemento (etiqueta) no estandar, lo busca en la clase FrontproyectoApp
</script>
</dom-module>
